.mission {
	padding: 120px 0;

	@media (max-width: 450px) {
		padding: 40px 0;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__box {
		padding: 0 10px;
	}

	&__image {
		margin-right: 48px;
		max-width: 570px;
		height: 675px;
		object-fit: cover;

		@media (max-width: 1200px) {
			display: none;
		}
	}

	&__box-num {
		display: flex;
		align-items: center;
	}

	&__num-title {
		@extend %rubik-700;
		font-size: 140px;
		color: #a3bbc8;
		margin-right: 30px;
	}

	&__num-text {
		width: 100px;
		font-size: 16px;
		line-height: 1.9;
		color: #243f4d;
		text-transform: capitalize;
		padding-top: 20px;
		@extend %rubik-400;
		@include text-limit;
	}

	&__box-title {
		text-align: left;
		color: #243f4d;
		margin-bottom: 45px;
		@include text-limit;
		-webkit-line-clamp: 2;
	}

	&__box-text {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.9;
		color: #243f4d;
		margin-bottom: 50px;
		border-bottom: 2px solid #ebeef3;
		padding-bottom: 50px;
	}

	&__box-info {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1200px) {
			justify-content: center;
		}

		@media (max-width: 620px) {
			display: block;
		}
	}

	&__box-item {
		width: 170px;
		padding: 15px 0 15px 65px;
		position: relative;
		border-right: 1px solid #ebeef3;

		@media (max-width: 1200px) {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: 620px) {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #ebeef3;

			&:last-child {
				border-bottom: none;
			}
		}

		&:last-child {
			border-right: none;
		}

		span {
			display: block;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;
			width: 43px;
			height: 40px;
		}
	}

	&__box-item--projects {
		&::before {
			background-image: url(../images/svg/sheet.svg);
		}
	}

	&__box-item--revenue {
		&::before {
			background-image: url(../images/svg/speaker.svg);
		}
	}

	&__box-item--awards {
		&::before {
			background-image: url(../images/svg/awards.svg);
		}
	}

	&__box-item-num {
		font-size: 36px;
		line-height: 1.1;
		color: #243f4d;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__box-item-text {
		font-size: 16px;
		line-height: 1.1;
		color: #4c4c4c;
		font-weight: 700;
		padding-left: 5px;
	}
}
