.statistics {
	margin-bottom: 120px;
	padding: 80px 15px;
	background-color: $accent;

	@media (max-width: 1200px) {
		margin-bottom: 60px;
	}

	@media (max-width: 450px) {
		padding: 50px 0;
	}

	&__box {
		display: flex;
		justify-content: space-between;

		@media (max-width: 850px) {
			display: block;
		}
	}

	&__item {
		padding-top: 90px;
		position: relative;
		
		@media (max-width: 850px) {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 35px;
			height: 35px;
			background-color: rgb(154,188,202);
			border-radius: 50%;
			top: 25px;
			right: 40px;

			@media (max-width: 850px) {
				display: none;
			}
		}

		&::before {
			content: "";
			position: absolute;
			height: 70px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-repeat: no-repeat;
			z-index: 2;
		}

		span {
			display: block;
			text-align: center;
		}
	}

	&__item--rate {
		&::before {
			width: 64px;
			background-image: url(../images/ico/schedule.svg);
		}
	}

	&__item--deliver {
		&::before {
			width: 65px;
			top: 10px;
			background-image: url(../images/ico/delivery.svg);
		}
	}

	&__item--daily {
		&::before {
			width: 70px;
			background-image: url(../images/ico/working-time.svg);
		}
	}

	&__item--brands {
		&::before {
			width: 55px;
			left: 47%;
			background-image: url(../images/ico/brands.svg);

			@media (max-width: 850px) {
				left: 50%;
			}
		}
	}

	&__num {
		margin-bottom: 20px;
	}

	&__text {
		font-size: 18px;
	}
}
