.team {
	margin-bottom: 120px;

	&__inner {
		display: flex;

		@media (max-width: 1200px) {
			display: block;
		}
	}

	&__text-box {
		width: 300px;
		margin-right: 105px;

		@media (max-width: 1200px) {
			margin-bottom: 40px;
			width: 100%;
		}
	}

	&__title {
		text-align: left;
		text-transform: capitalize;
		color: #243f4d;
		margin-bottom: 30px;
		@include text-limit;
		-webkit-line-clamp: 1;
	}

	&__text {
		font-size: 16px;
		line-height: 1.9;
		color: #243f4d;
		@extend %rubik-400;
		margin-bottom: 48px;
		@include text-limit;
		-webkit-line-clamp: 9;
	}

	&__link {
		background-color: $accent-blue;
		padding: 18px 30px 15px 18px;
		color: #fff;
		font-size: 16px;
		line-height: 1.9;
		@extend %poppins-700;
		border-radius: 5px;
		position: relative;
		border: 1px solid $accent-blue;
		transition: background-color 0.5s;


		&:hover {
			transition: color 0.5s;
			color: $accent-blue;
			background-color: #fff;

			.team__arrow {
				transition: fill 0.5s;
				fill: $accent-blue;
			}
		}
	}

	&__arrow {
		margin-left: 17px;
		fill: #fff;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;

		@media (max-width: 850px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		margin-bottom: 100px;
		position: relative;

		@media (max-width: 1200px) {
			width: 100%;
		}

	}
	
	&__img {
		height: 318px;
		object-fit: cover;

		@media (max-width: 1200px) {
			width: 100%;
		}
	}

	&__item-inner {
		position: absolute;
		background-color: #fff;
		padding: 25px 0 25px 25px;
		bottom: -68px;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		max-width: 325px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			display: block;
		}
	}

	&__name {
		font-size: 22px;
		line-height: 1.2;
		color: $header-accent;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__position {
		color: #565872;
		font-size: 16px;
		line-height: 1.9;
		@extend %rubik-400;
	}

	&__social-box {
		padding-right: 20px;
	}

	&__social-link {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: #f6f6f6;
		border-radius: 50%;
		position: relative;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-repeat: no-repeat;
		}
	}
	&__social-link--instagram {
		&::after {
			width: 17px;
			height: 17px;
			background-image: url(../images/ico/instagram.svg);
		}
	}

	&__social-link--google {
		&::after {
			width: 24px;
			height: 17px;
			background-image: url(../images/ico/google.svg);
		}
	}

}