.blog {
	margin-bottom: -174px;

	@media (max-width: 1200px) {
		margin-bottom: 40px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 45px;

		@media (max-width: 450px) {
			display: block;
		}
	}

	&__title {
		@media (max-width: 450px) {
			margin-bottom: 10px;
		}
		margin-bottom: 30px;
	}

	&__link {
		font-size: 16px;
		font-weight: 700;
		color: #262626;
		position: relative;
		transition: color 0.5s;
		outline: transparent;
		padding-top: 10px;
		width: 100px;

		@media (max-width: 450px) {
			margin: 0 auto;
			display: block;
		}

		&:hover {
			color: $accent-blue;
			.blog__view-link {
				transition: fill 0.5s;
				fill: $accent-blue;
			}
		}

		&:focus {
			border: 1px dashed $active;
		}

		&:active {
			box-shadow: 0 0 0 3px #009dff;
		}
	}

	&__view-link {
		margin-left: 12px;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1200px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}

		@media (max-width: 620px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		margin-right: 30px;

		@media (max-width: 1200px) {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			.blog__info-link {
				background-color: #fff;
				color: $some-text;
				border: 1px solid $accent-blue;
			}
		}
	}

	.blog-box {
		@media (max-width: 1200px) {
			text-align: center;
		}
	}

	&__img {
		max-width: 370px;
		min-height: 250px;
		object-fit: cover;
		border-radius: 5px 5px 0 0;
		outline: transparent;

		@media (max-width: 1200px) {
			max-width: 100%;
			width: 100%;
			display: inline-block;
			height: 200px;
		}
	}

	&__info {
		padding: 30px 30px 20px 30px;
		position: relative;
	}

	&__info-link {
		position: absolute;
		top: -16px;
		left: 28px;
		background-color: $accent-blue;
		padding: 5px 32px;
		border-radius: 17px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.4;
		border: 1px solid transparent;
		transition: color 0.5s;
		outline: transparent;

		@media (max-width: 1200px) {
			top: -20px;
		}

		&:focus {
			@extend %shadow;
		}

		&:active {
			background-color: $header-accent;
			color: #fff;
		}
	}

	&__preview {
		font-size: 18px;
		font-weight: 500;
		height: 77px;
		width: 305px;
		margin-bottom: 5px;
		color: #262626;
		outline: transparent;
		@include text-limit;

		@media (max-width: 1200px) {
			width: 100%;
		}
	}

	&__img-link {
		outline: transparent;

		&:focus {
			.blog__img {
				@extend %shadow;
			}
		}

		&:active {
			.blog__img {
				box-shadow: 0 0 0 3px #009dff;
			}
		}
	}

	&__preview {
		&:focus {
			color: $text;
		}
	}

	&__bottom {
		border-top: 1px solid #e0e0e0;
		padding-top: 10px;
	}

	&__text {
		font-size: 12px;
		line-height: 2.5;
		color: #222933;
		@extend %rubik-400;
		text-transform: uppercase;
	}

	&__text--data {
		margin-right: 20px;
		position: relative;
		padding-left: 20px;

		&::before {
			content: "";
			position: absolute;
			width: 12px;
			height: 12px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-image: url(../images/sprite.svg#calendar);
		}
	}

	&__text--author {
		transition: color 0.5s;
		padding-left: 20px;
		position: relative;
		outline: transparent;

		&:hover {
			color: $accent-blue;
			.blog__user-ico {
				transition: fill 0.5s;
				fill: $accent-blue;
			}
		}

		&:focus {
			@extend %shadow;
		}

		&:active {
			box-shadow: 0 0 0 3px $active;
		}
	}

	&__user-ico {
		position: absolute;
		left: 0;
		top: 0;
		margin-right: 8px;
	}
}
