.top-info {
	&__inner {
		display: flex;
		justify-content: space-between;
		background-color: #fef7f0;
		margin-bottom: 60px;

		@media (max-width: 950px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 30px 0;
		border-right: 1px solid #e8e4df;
		width: 100%;
		justify-content: center;
		position: relative;

		@media (max-width: 950px) {
			border-right: none;
			border-bottom: 1px solid #e8e4df;
			justify-content: flex-start;
			padding-left: 15px;
		}

		&:last-child {
			border: none;
		}
	}
	&__box {
		position: relative;
		padding-left: 80px;

		@media (max-width: 450px) {
			padding-left: 65px;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 50px;
			height: 50px;
			top: 13px;
			left: 2px;
			background-repeat: no-repeat;
		}

		&::before {
			width: 20px;
			height: 20px;
			background-color: #dfe3e2;
			border-radius: 50%;
			margin-right: 25px;
			top: 51%;
			transform: translateY(-51%);
			left: 35px;
		}
	}

	&__box--support::after {
		background-image: url(../images/svg/info-img1.svg);
	}

	&__box--delivery::after {
		background-image: url(../images/svg/info-img2.svg);
		
		@media (max-width: 950px) {
			top: 10px;
		}
	}

	&__box--payment::after {
		background-image: url(../images/svg/info-img3.svg);
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 2.2;
		@include text-limit;
		max-width: 250px;
	}

	&__text {
		width: 215px;
		font-size: 16px;
		line-height: 2.2;
		color: #585858;
		@include text-limit;
	}

	&__text--first {
		width: 205px;
	}
}
