.top-slider {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__item {
		height: 88vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		max-width: 420px;
		@extend %rubik-400;
		padding: 0 0 80px 3px;
	}

	&__title {
		font-size: 72px;
		line-height: 1;
		color: #243f4d;
		text-transform: uppercase;
		@extend %rubik-500;
		margin-bottom: 30px;
		@include text-limit;
	}

	&__text {
		font-size: 18px;
		line-height: 1.7;
		color: $header-accent;
		margin-bottom: 55px;
		@include text-limit;
		-webkit-line-clamp: 4;
	}

	&__img {
		max-width: 640px;
		height: 264px;
		object-fit: cover;
	}

	.slick-dots {
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 44px;

		& button {
			width: 30px;
			height: 30px;
			border: none;
			margin-right: 12px;
			border-radius: 50%;
			background-color: #fde3cc;
			@extend %rubik-500;
			font-size: 11px;
			color: #243f4d;
			cursor: pointer;
			transition: background-color 0.5s;
			outline: transparent;

			&:hover {
				background-color: #fff;
			}

			&:focus {
				@extend %shadow;
			}

			&:active {
				background-color: $accent-blue;
			}
		}
	}

	.slick-active button {
		background-color: #fff;
		outline: none;
	}
}

.button {
	&::after {
		content: "";
		position: absolute;
		background-image: url(../images/sprite.svg#arrow);
		width: 23px;
		height: 23px;
		top: 50%;
		transform: translateY(-50%);
		right: 18px;
	}
}
