@font-face {
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
	font-style: normal;
	src:  local('DMSans-Regular'),
				url('../fonts/DMSans-Regular.woff') format('woff'),
				url('../fonts/DMSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
	font-style: normal;
	src:  local('DMSans-Medium'),
				url('../fonts/DMSans-Medium.woff') format('woff'),
				url('../fonts/DMSans-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
	font-style: normal;
	src:  local('DMSans-Bold'),
				url('../fonts/DMSans-Bold.woff') format('woff'),
				url('../fonts/DMSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Rubik';
	font-weight: 400;
	font-style: normal;
	src: 	local('Rubik'), 
				local('Rubik-Regular'), 
				url('Rubik.woff2') format('woff2'), 
				url('Rubik.woff') format('woff'), 
				url('Rubik.ttf') format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-weight: 500;
	font-style: normal;
	src: local('Rubik Medium'),
			 local('Rubik-Medium'), 
			 url('Rubikmedium.woff2') format('woff2'), 
			 url('Rubikmedium.woff') format('woff'), 
			 url('Rubikmedium.ttf') format('truetype');
}