@font-face {
	font-family: 'DMSans'; 
	font-weight: normal;
	src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
			 url('../fonts/DMSans-Regular.woff') format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	font-weight: 500;
	src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
			 url('../fonts/DMSans-Medium.woff') format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	font-weight: bold;
	src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
			 url('../fonts/DMSans-Bold.woff') format('woff');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src:  url('../fonts/Rubik.woff2') format('woff2'), 
				url('../fonts/Rubik.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubikmedium.woff2') format('woff2'),
		   url('../fonts/Rubikmedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
		   url('../fonts/Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}