html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	@extend %dmsans-400;
}

.logo {
	outline: transparent;
	display: block;

	&__img {
		max-width: 146px;
		max-height: 39px;
		object-fit: contain;
	}

	&:focus {
		border: 2px dashed $shadow;
	}
	
	&:active {
		border: 2px dashed $active;
	}
}

.menu {
	margin-left: 140px;

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin: 0 16px;
	}

	&__link {
		text-decoration: none;
		color: $header-accent;
		@extend %rubik-500;
		font-size: 15px;
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.5s;
		outline: transparent;
		padding: 5px 0;
		position: relative;
		@include state;
	}
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1790px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;

	&--narrow {
		max-width: 1190px;
	}
}

.round-btn {
	width: 50px;
	height: 50px;
	background-color: #ecf1f4;
	border-radius: 50%;
	position: relative;
	transition: background-color 0.5s;
	cursor: pointer;
	border: none;
	outline: transparent;

	&:hover {
		background-color: $accent-blue;
	}

	&:focus {
		@extend %shadow;
	}

	&:active {
		background-color: $header-accent;
	}
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	color: #191919;
	text-align: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	padding: 20px 89px 20px 28px;
	color: #fff;
	background-color: $accent-blue;
	position: relative;
	border: 2px solid transparent;
	transition: border 0.5s;
	outline: transparent;

	&:hover {
		border: 2px solid #fff;
	}

	&:focus {
		@extend %shadow;
	}

	&:active {
		transition: background-color 0.5s;
		background-color: $header-accent;
	}
}

.filters-mix {
	justify-content: center;
	display: flex;

	&__item {
		margin: 0 15px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
		transition: color 0.5s;
		cursor: pointer;
		padding: 0;
		outline: transparent;
		padding: 5px 0;
		position: relative;
		@include state;
	}

	.mixitup-control-active {
		color: #191919;
	}
}