html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	@extend %dmsans-400;
}

.logo {
	outline: transparent;
	display: block;

	&__img {
		max-width: 146px;
		max-height: 39px;
		object-fit: contain;
	}

	&:focus {
		border: 2px dashed $shadow;
	}

	&:active {
		border: 2px dashed $active;
	}
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1790px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;

	&--narrow {
		max-width: 1190px;
	}
}

.round-btn {
	width: 50px;
	height: 50px;
	background-color: #ecf1f4;
	border-radius: 50%;
	position: relative;
	transition: background-color 0.5s;
	cursor: pointer;
	border: none;
	outline: transparent;

	&:hover {
		background-color: $accent-blue;
	}

	&:focus {
		@extend %shadow;
	}

	&:active {
		background-color: $header-accent;
	}
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	color: #191919;
	text-align: center;

	@media (max-width: 1200px) {
		font-size: 28px;
	}

	@media (max-width: 860px) {
		font-size: 26px;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	padding: 20px 89px 20px 28px;
	color: #fff;
	background-color: $accent-blue;
	position: relative;
	border: 2px solid transparent;
	transition: border 0.5s;
	outline: transparent;

	&:hover {
		border: 2px solid #fff;
	}

	&:focus {
		@extend %shadow;
	}

	&:active {
		transition: background-color 0.5s;
		background-color: $header-accent;
	}
}

.filters-mix {
	justify-content: center;
	display: flex;

	@media (max-width: 450px) {
		flex-wrap: wrap;
	}

	&__item {
		margin: 0 15px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
		transition: color 0.5s;
		cursor: pointer;
		padding: 0;
		outline: transparent;
		padding: 5px 0;
		position: relative;
		@include state;
	}

	.mixitup-control-active {
		color: #191919;
	}
}

.box-num {
	font-size: 36px;
	line-height: 1.1;
	color: #243f4d;
	font-weight: 700;
}

.box-text {
	font-size: 16px;
	line-height: 1.1;
	color: #4c4c4c;
	font-weight: 700;
	padding-left: 5px;
}

.pagination {
	&.pagination--list {
		.pagination__inner {
			justify-content: flex-start;
		}
	}
	padding-top: 75px;
	margin-bottom: 120px;

	&__inner {
		display: flex;
		justify-content: center;
	}

	&__prev {
		display: none;
	}

	&__list {
		display: flex;
	}

	&__item {
		margin-right: 15px;
	}
	
	&__link {
		width: 50px;
		height: 50px;
		border: 1px solid #a3bbc8;
		font-size: 16px;
		color: #243f4d;
		@extend %rubik-400;
		display: flex;
		justify-content: center;
		align-items: center;

		&--active {
			color: #fff;
			background-color: #a3bbc8;
		}
	}

	&__next {
		border: 1px solid #a3bbc8;
		font-size: 16px;
		color: #243f4d;
		@extend %rubik-400;
		padding: 15px 20px 0;
	}
}

.aside-search {
	margin-bottom: 60px;

	&__form {
		display: flex;

	}

	&__input {
		height: 40px;
		border: 2px solid #edf1f4;
		border-right: none;
		border-radius: 5px 0 0 5px;
		width: 100%;
	}

	&__btn {
		width: 48px;
		border: 2px solid #edf1f4;
		background-image: url(../images/ico/blog-search.svg);
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		border-radius: 0 5px 5px 0;
	}
}

.recent-post {
	&__box {

	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		margin-right: 20px;
	}
	
	&__img {
		min-width: 70px;
		min-height: 70px;
		object-fit: cover;
	}

	&__info {
		@extend %rubik-400;
	}

	&__text {
		font-size: 14px;
		line-height: 1.4;
		color: #333;
	}

	&__date {
		font-size: 12px;
		line-height: 2.5;
		text-transform: uppercase;
		color: #9a9a9a;
	}
}