.wide-container {
	max-width: 1790px;
	margin: 0 auto;
	padding: 0 10px;
}

.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	color: #191919;
	text-align: center;
}