html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	@extend %dmsans-400;
}

@mixin text-limit {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.logo {
	outline: transparent;

	&__img {
		max-width: 146px;
		max-height: 39px;
		object-fit: cover;
	}

	&:focus {
		border: 2px dashed $shadow;
	}
	
	&:active {
		border: 2px dashed $active;
	}
}

.menu-hover {
	position: relative;

	&:after {
		content: "";
		background-color: $header-accent;
		position: absolute;
		width: 0;
		height: 2px;
		transition: width 0.3s linear;
	}

	&:after {
		top: 100%;
		left: 0;
	}

	&:hover::after {
		width: 100%;
	}
	
	&:active::after {
		background-color: $active;
	}
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1790px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;

	&--narrow {
		max-width: 1190px;
	}
}

.user-btn {
	width: 50px;
	height: 50px;
	background-color: #ecf1f4;
	border-radius: 50%;
	position: relative;
	transition: background-color 0.5s;
	cursor: pointer;
	border: none;
	outline: transparent;

	&:hover {
		background-color: $accent-blue;
	}

	&:focus {
		@extend %shadow;
	}

	&:active {
		background-color: $header-accent;
	}
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	color: #191919;
	text-align: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.link-button {
	padding: 20px 89px 20px 28px;
	color: #fff;
	background-color: $accent-blue;
	position: relative;
	border: 2px solid transparent;
	transition: border 0.5s;
	outline: transparent;

	&:hover {
		border: 2px solid #fff;
	}

	&:focus {
		@extend %shadow;
	}

	&:active {
		transition: background-color 0.5s;
		background-color: $header-accent;
	}
}

.filters-list {
	justify-content: center;
	display: flex;

	&__item {
		margin: 0 15px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
		transition: color 0.5s;
		cursor: pointer;
		padding: 0;
		outline: transparent;
		padding: 5px 0;

		&:hover {
			color: #191919;
		}

		&:focus {
			border: 1px dashed $active;
		}

		&:active {
			color: $active;
		}
	}
}

.products-card {
	width: 270px;
	margin: 0 14px 35px;
	background-color: #fff;
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	position: relative;
	overflow: hidden;
	padding: 10px;

	&:hover {
		.products__box-link {
			transform: translateY(0);
		}
	}
}