$accent: #fcd7b6;
$accent-blue: #a3bbc8;
$text: #7b7b7b;
$some-text: #2b6373;
$title: #121212;
$header-accent: #436372;
$shadow: #87cefa;
$active: #009dff;

%dmsans-400 {
	font-family: "DMSans", sans-serif;
	font-weight: 400;
}

%dmsans-500 {
	font-family: "DMSans", sans-serif;
	font-weight: 500;
}

%dmsans-700 {
	font-family: "DMSans", sans-serif;
	font-weight: 700;
}

%rubik-400 {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}

%rubik-500 {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}

%poppins-700 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

%transform {
	transform: translateX(-50%) translateY(-50%);
}

%shadow {
	box-shadow: 0 0 10px rgba(36, 63, 77, 0.5);
}

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

@mixin text-limit {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 3;
}

@mixin state {
	&:after {
		content: "";
		background-color: $header-accent;
		position: absolute;
		width: 0;
		height: 2px;
		transition: width 0.3s linear;
	}

	&:after {
		top: 100%;
		left: 0;
	}

	&:hover::after {
		width: 100%;
	}

	&:focus {
		border: 1px dashed $active;
	}

	&:active {
		color: $active;
	}
}