@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

@import "components/header";
@import "components/products";
@import "components/footer";
@import "components/design";
@import "components/video-block";
@import "components/partners-slider";

@import "index/blog";
@import "index/top-info";
@import "index/top-slider";