@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

@import "components/header";
@import "components/products";
@import "components/design";
@import "components/video-block";
@import "components/partners-slider";
@import "components/footer";

@import "index/blog";
@import "index/top-info";
@import "index/top-slider";

@import "components/top-block";

//about page
@import "components/_about/mission";
@import "components/_about/statistic";
@import "components/_about/team";

//shop page
@import "components/_shop/filters";
@import "components/_shop/shop-content";

//Blog Blog-one pages
@import "components/_blog/blog";

// Product-details page
@import "components/_product-details/product-details";
@import "components/_product-details/product-tabs";
@import "components/_product-details/product-slider";

//Contact page
@import "components/_contacts/contacts";

//login page
@import "components/_login/login";



