@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 49px 0;
}

.menu {
	margin-left: 174px;
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin-right: 30px;
	}
	&__link {
		text-decoration: none;
		color: $some-text;
		@extend %rubik-500;
		font-size: 15px;
		letter-spacing: 0.6px;
	}
}
.user-nav {
	display: flex;
	&__search {
		width: 50px;
		height: 50px;
		background-color: #ecf1f4;
		border-radius: 50%;
		position: relative;
		margin-right: 20px;
	}
	&__search::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		background-image: url(../images/search-icon.png);
		top: 50%;
		left: 50%;
		@extend %transform;
	}
	&__block {
		display: flex;
		background-color: $accent;
		margin-right: 20px;
		border-radius: 50px;
		padding-top: 21px;
		padding-bottom: 5px;
		position: relative;
	}
	&__link {
		position: relative;
	}
	&__num {
		width: 16px;
		height: 16px;
		background-color: #ffffff;
		border-radius: 50%;
		position: absolute;
		font-size: 10px;
		padding-top: 2px;
		text-align: center;
		@extend %dmsans-400;
		top: -8px;
		left: 48px;
	}
	&__img {
		padding: 0 36px;
	}
	&__separator {
		position: absolute;
		top: 50%;
		left: 50%;
		@extend %transform;
		font-size: 35px;
		padding-bottom: 5px;
		color: #fde7d3;
	}
	&__dropdown {
		background-color: transparent;
		border: none;
		position: relative;
		width: 51px;
		cursor: pointer;
	}
	&__dropdown::before {
		content: "";
		position: absolute;
		width: 51px;
		height: 51px;
		background-image: url(../images/header-btn.png);
		top: 0;
		left: 0;
	}
}

.top-content {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	&__item {
		height: 88vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__text-box {
		max-width: 417px;
		@extend %rubik-400;
	}
	&__title {
		font-size: 72px;
		line-height: 1;
		color: #243f4d;
		text-transform: uppercase;
		@extend %rubik-500;
		margin-bottom: 20px;
	}
	&__text {
		font-size: 18px;
		line-height: 1.7;
		color: #436372;
		margin-bottom: 55px;
	}
	&__link {
		padding: 23px 98px 20px 28px;
		color: #fff;
		background-color: $accent-blue;
		position: relative;
	}
	&__link::after {
		content: "";
		position: absolute;
		width: 22px;
		height: 9px;
		background-image: url(../images/arrow.svg);
		top: 50%;
		transform: translateY(-50%);
		right: 18px;
	}
}

.slick-dots {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 44px;
	& button {
		width: 30px;
		height: 30px;
		border: none;
		margin-right: 12px;
		border-radius: 50%;
		background-color: #fde3cc;
		@extend %rubik-500;
		font-size: 11px;
		color: #243f4d;
		cursor: pointer;
	}
	& button:hover {
		background-color: #fff;
	}
}

.slick-active button {
	background-color: #fff;
}

.top-info {
	display: flex;
	justify-content: space-between;
	background-color: #fef7f0;
	margin-bottom: 75px;
	&__item {
		display: flex;
		align-items: center;
		padding: 30px 0;
		border-right: 1px solid #e8e4df;
		width: 100%;
		justify-content: center;
		position: relative;
	}
	&__item:last-child {
		border: none;
	}
	&__text {
		position: relative;
	}
	&__text::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		top: 10px;
		left: -76px;
		background-repeat: no-repeat;
	}
	&__text--support::before {
		background-image: url(../images/info-img1.svg);
	}
	&__text--delivery::before {
		background-image: url(../images/info-img2.svg);
	}
	&__text--payment::before {
		background-image: url(../images/info-img3.svg);
	}
	&__point {
		width: 20px;
		height: 20px;
		background-color: #dfe3e2;
		border-radius: 50%;
		margin-right: 25px;
	}
	&__title {
		@extend %dmsans-700;
		font-size: 18px;
		line-height: 2.2;
	}
	&__text p {
		width: 215px;
		@extend %dmsans-400;
		font-size: 16px;
		line-height: 2.2;
		color: #585858;
	}
}

.products {
	margin-bottom: 80px;
	&__filter {
		margin: 30px 0 80px;
		text-align: center;
	}
	&__filter-btn {
		margin-right: 30px;
		background-color: transparent;
		border: none;
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
		transition: color 0.5s;
		cursor: pointer;
	}
	&__filter-btn:last-child {
		margin-right: 0;
	}
	&__filter-btn:hover {
		color: #191919;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px;
		justify-content: center;
	}
	&__card {
		width: 270px;
		margin: 0 14px 35px;
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		position: relative;
		overflow: hidden;
		&:hover {
			.products__box-link {
				transform: translateY(0);
			}
		}
	}
	&__image {
		min-height: 255px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 27px;
	}
	&__info {
		text-align: center;
		padding-bottom: 35px;
		font-size: 16px;
	}
	&__name {
		@extend %dmsans-500;
		color: #243f4d;
		line-height: 2.5;
		display: block;
	}
	&__price {
		@extend %dmsans-700;
		color: #a3bbc8;
	}
	&__box-links {
		width: 100%;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	&__box-link {
		display: inline-block;
		width: 45px;
		height: 45px;
		background-color: #fff;
		border-radius: 50%;
		margin-right: 15px;
		border: 1px solid #a3bbc8;
		transform: translateY(500%);
		transition: transform 0.3s;
		position: relative;
	}
	&__box-link:hover {
		background-color: #a3bbc8;
		transition: background-color 0.5s;
	}
	&__box-link svg {
		position: absolute;
		left: 50%;
		top: 50%;
		@extend %transform;
	}
	&__box-link path {
		transition: fill 0.5s;
	}
	&__box-link:hover path {
		fill: #fff;
	}
	&__box-link:last-child {
		margin-right: 0;
	}
}

.mixitup-control-active {
	color: #191919;
}

.footer {
	&__items {
		padding: 80px 0 65px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dae4e9;
	}
	&__contacts {
		padding-top: 25px;
		width: 195px;
	}
	&__contacts a {
		display: block;
	}
	&__text {
		font-size: 14px;
		line-height: 1.7;
		color: #7b7b7b;
		font-style: normal;
		margin-bottom: 9px;
		@extend %rubik-400;
	}
	&__text:last-child {
		margin-bottom: 0;
	}
	&__text span {
		text-transform: uppercase;
	}
	&__text--last {
		width: 240px;
	}
	&__title {
		padding-top: 24px;
		margin-bottom: 29px;
		@extend %dmsans-700;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.3px;
		color: #1f2044;
	}
	&__list-item {
		margin-bottom: 14px;
	}
	&__list-link {
		font-size: 14px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
	&__form {
		display: flex;
		margin-top: 35px;
	}
	&__email {
		padding: 12px 15px;
		border: none;
		background-color: #fef7f0;
		@extend %dmsans-400;
		color: #234969;
		font-size: 12px;
		width: 170px;
	}
	&__email::placeholder {
		@extend %dmsans-400;
		font-size: 12px;
		color: #234969;
		opacity: 1;
	}
	&__btn {
		@extend %dmsans-400;
		font-size: 14px;
		line-height: 1.5px;
		border: none;
		background-color: #a3bbc8;
		color: #fff;
		padding: 0 18px;
		cursor: pointer;
	}
}
.footer-copy {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	font-size: 14px;
	line-height: 2.3px;
	color: #7b7b7b;
	@extend %rubik-400;
	&__list {
		display: flex;
	}
	&__item {
		padding: 5px 15px;
		border-right: 1px solid #7b7b7b;
	}
	&__item:last-child {
		padding-right: 0;
		border-right: none;
	}
	&__link {
		font-size: 14px;
		line-height: 2.3px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
}

@import "media";
