@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0;
}

.menu {
	margin-left: 174px;
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin-right: 30px;
	}
	&__link {
		text-decoration: none;
		color: $some-text;
		@extend %rubik-500;
		font-size: 15px;
		letter-spacing: 0.6px;
	}
}
.user-nav {
	display: flex;
	&__search {
		width: 50px;
		height: 50px;
		background-color: #ECF1F4;
		border-radius: 50%;
		position: relative;
		margin-right: 20px;
	}
	&__search::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		background-image: url(../images/search-icon.png);
		top: 50%;
		left: 50%;
		@extend %transform;
	}
	&__block {
		display: flex;
		background-color: $accent;
		margin-right: 20px;
		border-radius: 50px;
		padding-top: 21px;
		padding-bottom: 5px;
		position: relative;
	}
	&__link {
		position: relative;
	}
	&__num {
		width: 16px;
		height: 16px;
		background-color: $white;
		border-radius: 50%;
		position: absolute;
		font-size: 10px;
		padding-top: 2px;
		text-align: center;
		@extend %dmsans-400;
		top: -8px;
		left: 48px;
	}
	&__img {
		padding: 0 36px;
	}
	&__separator {
		position: absolute;
		top: 50%;
		left: 50%;
		@extend %transform;
		font-size: 35px;
		padding-bottom: 5px;
		color: #fde7d3;
	}
	&__dropdown {
		background-color: transparent;
		border: none;
		position: relative;
		width: 51px;
		cursor: pointer;
	}
	&__dropdown::before {
		content: "";
		width: 51px;
		height: 51px;
		position: absolute;
		background-image: url(../images/header-btn.png);
		top: 0;
		left: 0;
		padding-right: 50px;
	}
}


@import 'media';







// &__block {
// 	background-color: $accent;
// 	margin-right: 20px;
// 	border-radius: 50px;
// 	padding-top: 20px;
// 	padding-right: 10px;
// }
// &__link {
// 	position: relative;
// 	padding: 0 42px;
// }
// &__link::before {
// 	content: "";
// 	position: absolute;
// 	width: 19px;
// 	height: 17px;
// 	background-repeat: no-repeat;
// }
// &__link--heart::before {
// 	background-image: url(../images/heart-icon.png);
// }
// &__link--cart::before {
// 	background-image: url(../images/cart-icon.png);
// }
// &__num {
// 	position: absolute;
// 	width: 12px;
// 	height: 12px;
// 	background-color: #fff;
// 	border-radius: 50%;
// 	top: -6px;
// 	right: 19px;
// 	font-size: 10px;
// 	line-height: 1.15;
// 	text-align: center;
// }





// &__link::before {
// 	content: "";
// 	position: absolute;
// 	width: 19px;
// 	height: 17px;
// 	background-repeat: no-repeat;
// }
// &__link--heart::before {
// 	background-image: url(../images/heart-icon.png);
// 	bottom: 12px;
// 	left: 40px;
// }
// &__link--cart::before {
// 	background-image: url(../images/cart-icon.png);
// 	bottom: 12px;
// 	right: 40px;
// }
// &__link span {
// 	position: absolute;
// 	width: 16px;
// 	height: 16px;
// 	background-color: $white;
// 	border-radius: 50%;
// 	text-align: center;
// 	font-size: 10px;
// 	line-height: 1.6;
// }
// &__link--heart span {
// 	top: 12px;
// 	left: 51px;
// }
// &__link--cart span {
// 	top: 12px;
// 	right: 34px;
// }