@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 53px 0;
}

.menu {
	margin-left: 174px;
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin-right: 30px;
	}
	&__link {
		text-decoration: none;
		color: $some-text;
		@extend %rubik-500;
		font-size: 15px;
		letter-spacing: 0.6px;
	}
}
.user-nav {
	display: flex;
	&__search {
		width: 50px;
		height: 50px;
		background-color: #ecf1f4;
		border-radius: 50%;
		position: relative;
		margin-right: 20px;
	}
	&__search::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		background-image: url(../images/search-icon.png);
		top: 50%;
		left: 50%;
		@extend %transform;
	}
	&__block {
		display: flex;
		background-color: $accent;
		margin-right: 20px;
		border-radius: 50px;
		padding-top: 21px;
		padding-bottom: 5px;
		position: relative;
	}
	&__link {
		position: relative;
	}
	&__num {
		width: 16px;
		height: 16px;
		background-color: $white;
		border-radius: 50%;
		position: absolute;
		font-size: 10px;
		padding-top: 2px;
		text-align: center;
		@extend %dmsans-400;
		top: -8px;
		left: 48px;
	}
	&__img {
		padding: 0 36px;
	}
	&__separator {
		position: absolute;
		top: 50%;
		left: 50%;
		@extend %transform;
		font-size: 35px;
		padding-bottom: 5px;
		color: #fde7d3;
	}
	&__dropdown {
		background-color: transparent;
		border: none;
		position: relative;
		width: 51px;
		cursor: pointer;
	}
	&__dropdown::before {
		content: "";
		width: 51px;
		height: 51px;
		position: absolute;
		background-image: url(../images/header-btn.png);
		top: 0;
		left: 0;
		padding-right: 50px;
	}
}

.top-content {
	background-repeat: no-repeat;
	background-position: center center;
	&__item {
		height: 79vh;
		display: flex !important;
		justify-content: space-between;
		align-items: center;
	}
	&__text-block {
		max-width: 417px;
		@extend %rubik-400;
	}
	&__title {
		font-size: 72px;
		line-height: 1;
		color: #243f4d;
		text-transform: uppercase;
		@extend %rubik-500;
		margin-bottom: 20px;
	}
	&__text {
		font-size: 18px;
		line-height: 1.7;
		color: #436372;
		margin-bottom: 55px;
	}
	&__link {
		padding: 23px 98px 20px 28px;
		color: #fff;
		background-color: $accent-blue;
		position: relative;
	}
	&__link::after {
		content: "";
		position: absolute;
		width: 22px;
		height: 9px;
		background-image: url(../images/arrow.svg);
		top: 50%;
		transform: translateY(-50%);
		right: 18px;
	}
}

.slick-dots {
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 44px;
	& button {
		width: 30px;
		height: 30px;
		border: none;
		margin-right: 12px;
		border-radius: 50%;
		background-color: #fde3cc;
		@extend %rubik-500;
		font-size: 11px;
		color: #243f4d;
		cursor: pointer;
	}
	& button:hover {
		background-color: #fff;
	}
}

.slick-active button {
	background-color: #fff;
}

.footer {
	&__items {
		padding: 80px 0 65px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dae4e9;
	}
	&__contacts {
		padding-top: 25px;
		width: 195px;
	}
	&__text {
		font-size: 14px;
		line-height: 1.7;
		color: #7b7b7b;
		font-style: normal;
		margin-bottom: 15px;
		@extend %rubik-400;
	}
	&__text:last-child {
		margin-bottom: 0;
	}
	&__text span {
		text-transform: uppercase;
	}
	&__text--last {
		width: 240px;
	}
	&__title {
		padding-top: 20px;
		margin-bottom: 25px;
		@extend %dmsans-700;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.3px;
		color: #1f2044;
	}
	&__list-item {
		margin-bottom: 20px;
	}
	&__list-link {
		font-size: 14px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
	&__form {
		display: flex;
		margin-top: 50px;
	}
	&__email {
		padding: 14px 15px;
		border: none;
		background-color: #fef7f0;
	}
	&__email::placeholder {
		@extend %dmsans-400;
		font-size: 12px;
	}
	&__btn {
		@extend %dmsans-400;
		font-size: 14px;
		line-height: 1.5px;
		border: none;
		background-color: #a3bbc8;
		color: #fff;
		padding: 0 20px;
	}
}
.footer-copy {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	font-size: 14px;
	line-height: 2.3px;
	color: #7b7b7b;
	@extend %rubik-400;
	&__list {
		display: flex;
	}
	&__item {
		padding: 5px 15px;
		border-right: 1px solid #7b7b7b;
	}
	&__item:last-child {
		padding-right: 0;
		border-right: none;
	}
	&__link {
		font-size: 14px;
		line-height: 2.3px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
}

@import "media";
