.shop {
	padding-top: 120px;

	@media (max-width: 1200px) {
		padding-top: 70px;
	}

	&__inner {
		display: flex;

		@media (max-width: 1200px) {
			display: block;
		}
	}
	
	.partners-slider {
		height: 250px;
	}
}

.filters {
	width: 270px;
	margin-right: 35px;

	@media (max-width: 1200px) {
		width: 100%;
	}

	&__item {
		margin-bottom: 40px;
		border-bottom: 1px solid #edf1f4;
		padding-bottom: 20px;

		&:last-child {
			border-bottom: none;
		}
	}

	&__title {
		font-size: 18px;
		color: #243f4d;
		text-transform: uppercase;
		margin-bottom: 25px;
		position: relative;
		padding-right: 60px;
		display: inline-block;

		&::after {
			content: "";
			position: absolute;
			height: 3px;
			width: 40px;
			background-color: #a3bbc8;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__category-label {
		display: block;
		margin-bottom: 5px;
	}

	&__category-input {
		@extend %checbox-hidden;

		&:checked + .filters__category-checkbox {
			background-color: #edf1f4;
		}
	}

	&__category-checkbox {
		padding-left: 14px;
		position: relative;
		border-radius: 5px;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			width: 5px;
			height: 10px;
			background-image: url(../images/ico/angle.svg);
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__category-text {
		font-size: 16px;
		line-height: 2.8;
		color: #243f4d;
		@extend %rubik-400;
	}

	&__price-label {
		display: flex;
		justify-content: space-between;
		padding: 5px;
		font-size: 14px;
		line-height: 2.8;
		color: #243f4d;
		@extend %rubik-400;
	}

	.irs--flat .irs-from,
	.irs-to,
	.irs-max,
	.irs-min {
		display: none;
	}

	.irs--flat .irs-line {
		height: 3px;
		top: 20px;
		background-color: #c2d2db;
	}

	.irs--flat .irs-bar {
		top: 20px;
		height: 4px;
		background-color: #a3bbc8;
	}

	.irs--flat .irs-handle > i:first-child {
		top: -9px;
		width: 15px;
		background-color: #a3bbc8;
		cursor: pointer;
	}

	&__brand-label {
		display: block;
		margin-bottom: 5px;
	}
	
	&__brand-checkbox {
		display: flex;
		justify-content: space-between;
		padding: 0 20px 0 14px;
		font-size: 16px;
		line-height: 2.8;
		color: #243f4d;
		@extend %rubik-400;
		border-radius: 5px;
		cursor: pointer;
	}

	&__brand-num {
		color: #b3b3b3;
	} 

	&__brand-input {
		@extend %checbox-hidden;

		&:checked + .filters__brand-checkbox {
			background-color: #edf1f4;
			span {
				color: #243f4d;
			}
		}
	}
}

.recent-product {
	&__item {
		display: flex;
		margin-bottom: 25px;

		@media (max-width: 1200px) {
			margin-bottom: 0;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: 650px) {
			margin-bottom: 25px;
			margin-right: 0;
		}
	}

	&__inner {
		@media (max-width: 1200px) {
			display: flex;
		}
		@media (max-width: 650px) {
			display: block;
		}
	}

	&__link {
		display: inline-block;
		border: 2px solid #f2f2f2;
		padding: 2px;
		margin-right: 20px;
	}
	
	&__img {
		height: 70px;
		width: 70px;
		object-fit: contain;
	}

	&__box {
		color: #333;
		font-size: 14px;
		line-height: 1.1;
		@extend %rubik-400;
	}

	&__name {
		margin-bottom: 15px;
		@include text-limit;
		-webkit-line-clamp: 1;
	}

	.stars {
		margin-bottom: 10px;
	}

	&__price {
		font-size: 15px;
		line-height: 1.8;
	}

	.jq-ry-container {
		padding: 0;
	}
}


