.shop-content {
	max-width: 870px;

	@media (max-width: 1200px) {
		max-width: 100%;
	}

	&__view-buttons {
		margin-bottom: 15px;
		color: #243f4d;
		padding-left: 10px;
		
				@media (max-width: 850px) {
					display: none;
				}

		span {
			margin-right: 20px;
			font-size: 16px;
			@extend %rubik-400;
		}
	}

	&__view-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;

		&.shop-content__view-btn--active {
			.shop-content__btn-svg {
				fill: #243f4d;
			}
		}
	}

	&__btn-svg {
		fill: #A3BBC8;
	}

	.products {
		margin-bottom: 0;
	}
	
	.products__list {
		margin-bottom: 0;
	}

	.stars-list {
		display: none;
	}
}