.information {
	padding-top: 110px;

	@media (max-width: 850px) {
		padding-top: 50px;
	}

	&__box {
		margin-bottom: 105px;

		@media (max-width: 850px) {
			margin-bottom: 40px;
		}
	}

	&__title {
		color: #243f4d;
		font-size: 24px;
		line-height: 1.6;
		margin-bottom: 20px;
	}

	&__text-box {
		margin-bottom: 60px;
		list-style-type: decimal-leading-zero;
		list-style-position: inside;

		@media (max-width: 850px) {
			margin-bottom: 30px;
		}

		li {
			margin-bottom: 25px;

			span {
				padding-left: 8px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 1.8;
		color: #243f4d;
		@extend %rubik-400;
	}
}