.design {
	margin-bottom: 90px;
	.design-title {
		margin-bottom: 20px;
	}

	&__filters {
		margin-bottom: 72px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px;
		justify-content: center;
	}

	&__item {
		margin: 0 14px 30px;
		max-width: 370px;
		width: 100%;
		height: 250px;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__box {
		padding: 40px 0 0 35px;
	}

	&__title {
		width: 190px;
		display: block;
		font-size: 20px;
		font-weight: 700;
		color: #191919;
		margin-bottom: 10px;
		max-height: 50px;
		overflow: hidden;
	}

	&__text {
		font-size: 16px;
		color: $accent-blue;
	}

	.mixitup-control-active {
		color: #191919;
	}
}