.design {
	margin-bottom: 90px;

	@media (max-width: 450px) {
		margin-bottom: 55px;
	}

	&--title {
		margin-bottom: 20px;
	}

	&__filters {
		margin-bottom: 65px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
		justify-content: center;

		@media (max-width: 1200px) {
			margin: 0 -10px;
		}
	}

	&__item {
		margin: 0 14px 30px;
		max-width: 370px;
		width: 100%;
		border: 2px solid transparent;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		outline: transparent;

		&:hover {
			.design__inner {
				border: 2px solid $accent-blue;
			}
		}
		
		&:focus {
			.design__inner {
				@extend %shadow;
			}
		}

		&:active {
			.design__inner {
				box-shadow: 0 0 0 3px #009dff;
			}
		}
	}

	&__inner {
		height: 250px;
		padding: 40px 0 0 35px;
		background-repeat: no-repeat;
		background-position: center center;
		border: 2px solid transparent;
		transition: border 0.5s;
	}

	&__title {
		width: 190px;
		font-size: 20px;
		font-weight: 700;
		color: #191919;
		margin-bottom: 10px;
		@include text-limit;
		-webkit-line-clamp: 2;
	}

	&__text {
		font-size: 16px;
		color: $accent-blue;
	}

	.mixitup-control-active {
		color: #191919;
	}
}
