.design {
	margin-bottom: 90px;

	.design-title {
		margin-bottom: 20px;
	}

	&__filters {
		margin-bottom: 65px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px;
		justify-content: center;
	}

	&__item {
		margin: 0 14px 30px;
		max-width: 370px;
		width: 100%;
		border: 2px solid transparent;
		transition: border-color 0.5s;
		outline: transparent;

		&:hover {
			border: 2px solid $accent-blue;
		}
	}

	&__link {
		outline: transparent;
		&:focus {
			.design__box {
				@extend %shadow;
			}
		}

		&:active {
			.design__box {
				box-shadow: 0 0 0 3px #009dff;
			}
		}
	}

	&__box {
		height: 250px;
		padding: 40px 0 0 35px;
		background-repeat: no-repeat;
		background-position: center center;
		
	}

	&__title {
		width: 190px;
		font-size: 20px;
		font-weight: 700;
		color: #191919;
		margin-bottom: 10px;
		@include text-limit;
		-webkit-line-clamp: 2;
	}

	&__text {
		font-size: 16px;
		color: $accent-blue;
	}

	.mixitup-control-active {
		color: #191919;
	}
}
