.footer {
	&__items {
		padding: 80px 0 60px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dae4e9;
	}

	&__contacts {
		padding-top: 25px;
		width: 195px;
		height: 140px;
		overflow: hidden;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		color: $text;
		font-style: normal;
		margin-bottom: 9px;
		@extend %rubik-400;

		&:last-child {
			margin-bottom: 0;
		}

		& span {
			text-transform: uppercase;
		}
	}

	&__item--services {
		margin-right: 77px;
	}

	&__item--account {
		margin-right: 106px;
	}

	&__text--last {
		width: 240px;
		height: 48px;
		overflow: hidden;
	}

	&__title {
		display: block;
		padding-top: 24px;
		margin-bottom: 29px;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.3px;
		color: #1f2044;
	}

	&__list-item {
		margin-bottom: 12px;
	}

	&__list-link {
		font-size: 14px;
		color: $text;
		@extend %rubik-400;
		border-bottom: 1px solid transparent;
		transition: color, border-bottom 0.5s;

		&:hover {
			color: $some-text;
			border-bottom: 1px solid $accent-blue;
		}
	}

	&__form {
		display: flex;
		margin-top: 35px;
	}

	&__email {
		padding: 12px 15px;
		border: none;
		background-color: #fef7f0;
		color: #234969;
		font-size: 12px;
		width: 170px;

		&::placeholder {
			font-size: 12px;
			color: #234969;
			opacity: 1;
		}
	}

	&__btn {
		padding: 0 18px;
		color: #fff;
		background-color: $accent-blue;
		font-size: 14px;
		line-height: 1.5px;
		border: none;
		cursor: pointer;
	}
}

.footer-copy {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	font-size: 14px;
	line-height: 2.3px;
	color: $text;
	@extend %rubik-400;

	&__list {
		display: flex;
	}

	&__item {
		padding: 5px 15px;
		border-right: 1px solid $text;

		&:last-child {
			padding-right: 0;
			border-right: none;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 2.3px;
		color: $text;
		@extend %rubik-400;
		border-bottom: 1px solid transparent;
		transition: color, border-bottom 0.5s;

		&:hover {
			color: $some-text;
			border-bottom: 1px solid $accent-blue;
		}
	}
}