.footer {
	&__items {
		padding: 80px 0 60px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dae4e9;

		@media (max-width: 950px) {
			flex-wrap: wrap;
		}
	}

	&__contacts {
		padding-top: 25px;
		width: 195px;
	}

	&__text--links {
		display: block;
		transition: background-color, color 0.5s;
		position: relative;
		@include state;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		color: $text;
		font-style: normal;
		margin-bottom: 9px;
		@extend %rubik-400;
		outline: transparent;
		@include text-limit;
		-webkit-line-clamp: 5;

		&:last-child {
			margin-bottom: 0;
		}

		& span {
			text-transform: uppercase;
		}
	}

	&__item {
		@media (max-width: 620px) {
			width: 100%;
			margin-bottom: 10px;
			border-bottom: 1px solid #dae4e9;
			padding-bottom: 10px;
			width: 100%;
			
			&:last-child {
				border-bottom: none;
			}
		}
		&--services {
			margin-right: 77px;

			@media (max-width: 900px) {
				padding-left: 20px;
			}

			@media (max-width: 620px) {
				padding-left: 0;
				margin-right: 0;
			}
		}

		&--account {
			margin-right: 106px;

			@media (max-width: 620px) {
				margin-right: 0;
			}
		}
	}

	&__text--subscribe {
		width: 240px;
		@include text-limit;
		-webkit-line-clamp: 5;
	}

	&__title {
		display: block;
		padding-top: 24px;
		margin-bottom: 29px;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.3px;
		color: #1f2044;

		@media (max-width: 620px) {
			margin-bottom: 15px;
		}
	}

	&__list-item {
		margin-bottom: 12px;
	}

	&__list-link {
		font-size: 14px;
		color: $text;
		@extend %rubik-400;
		border-bottom: 1px solid transparent;
		transition: color, border-bottom 0.5s;
		outline: transparent;

		&:hover {
			color: $header-accent;
		}
	}
}

.footer-form {
	display: flex;
	margin-top: 35px;

	&__email {
		padding: 12px 15px;
		border: none;
		background-color: #fef7f0;
		color: #234969;
		font-size: 12px;
		width: 170px;
		outline: transparent;

		&::placeholder {
			font-size: 12px;
			color: #234969;
			opacity: 1;
		}
	}

	&__btn {
		padding: 0 18px;
		color: #fff;
		background-color: $accent-blue;
		font-size: 14px;
		line-height: 1.5px;
		border: none;
		cursor: pointer;
		outline: transparent;
		transition: background-color 0.5s;

		&:active {
			background-color: $header-accent;
		}
	}
}

.form-state {
	transition: box-shadow 0.5s;

	&:hover {
		box-shadow: 0 0 0 1px #87cefa;
	}

	&:focus {
		box-shadow: 0 0 0 1px #009dff;
	}
}

.footer-copy {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	font-size: 14px;
	line-height: 2.3px;
	color: $text;
	@extend %rubik-400;

	@media (max-width: 620px) {
		display: block;
	}

	&__list {
		display: flex;
	}

	&__item {
		padding: 0 15px;
		border-right: 1px solid $text;

		@media (max-width: 620px) {
			&:first-child {
				padding-left: 0;
			}
		}

		&:last-child {
			padding-right: 0;
			border-right: none;
		}
	}

	&__text {
		p {
			line-height: 1.2;

			@media (max-width: 450px) {
				font-size: 13px;
			}
		}
		@media (max-width: 620px) {
			margin-bottom: 20px;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 2.3px;
		color: $text;
		@extend %rubik-400;
		padding: 8px 0;
		outline: transparent;

		&:hover {
			color: $header-accent;
		}
	}
}
