.header {
	width: 100%;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 49px 0;
	}
}

.search {
	margin-right: 20px;

	&:hover {
		.user-nav__search {
			fill: #fff;
		}
	}
}

.user-nav {
	display: flex;

	&__item {
		&--block {
			display: flex;
			justify-content: space-around;
			background-color: $accent;
			margin-right: 20px;
			border-radius: 50px;
			width: 180px;
			position: relative;
		}

		&--dropdown {
			&:hover {
				.user-nav__dropdown {
					transition: fill 0.5s;
					fill: #fff;
				}
			}
		}
	}

	&__dropdown {
		fill: $header-accent;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__ico {
		fill: $header-accent;

		&--heart {
			transform: rotateY(180deg);
		}
	}

	&__link {
		padding: 18px 35px 5px 35px;
		position: relative;
		display: inline-block;
		outline: transparent;

		&:hover {
			.user-nav__ico {
				transition: fill 0.5s;
				fill: #fff;
			}
		}

		&:focus {
			@extend %shadow;
		}

		&:active {
			.user-nav__ico {
				fill: #87cefa;
			}
		}

		&--heart {
			position: relative;
			border-radius: 50px 0 0 50px;

			&::after {
				content: "";
				position: absolute;
				width: 1px;
				height: 30px;
				color: #fff;
				top: 50%;
				transform: translateY(-50%);
				right: -1px;
				background-image: url(../images/svg/line.svg);
			}
		}

		&--cart {
			border-radius: 0 50px 50px 0;
		}
	}

	&__num {
		width: 15px;
		height: 15px;
		background-color: #fff;
		position: absolute;
		right: 28px;
		top: 10px;
		font-size: 10px;
		border-radius: 50%;
		padding: 1px 0 0 5px;
		color: $header-accent;
	}

	&__search {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: fill 0.3s;
		fill: $header-accent;
	}
}

