.header {
	width: 100%;

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 49px 0;
	}

	.menu {
		margin-left: 140px;

		&__list {
			display: flex;
			align-items: center;
		}

		&__item {
			margin: 0 16px;
		}

		&__link {
			text-decoration: none;
			color: $header-accent;
			@extend %rubik-500;
			font-size: 15px;
			padding-bottom: 2px;
			border-bottom: 2px solid transparent;
			transition: border-bottom 0.5s;
			outline: transparent;
			padding: 5px 0;

			&--active {
				border-bottom: 2px solid $header-accent;
			}

			&:focus {
				border: 1px dashed $active;
			}
			
			&:active {
				color: $active;
			}
		}
	}

	.user-nav {
		display: flex;

		.search {
			margin-right: 20px;

			.search-svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: fill 0.3s;
				fill: $header-accent;
			}

			&:hover {
				.search-svg {
					fill: #fff;
				}
			}
		}

		&__block {
			display: flex;
			justify-content: space-around;
			background-color: $accent;
			margin-right: 20px;
			border-radius: 50px;
			width: 180px;
			position: relative;

			.heart {
				transform: rotateY(180deg);
			}
		}

		&__link {
			padding: 18px 35px 5px 35px;
			position: relative;
			display: inline-block;
			outline: transparent;

			.user-ico {
				fill: $header-accent;
			}

			&:hover {
				.user-ico {
					transition: fill 0.5s;
					fill: #fff;
				}
			}

			&:focus {
				@extend %shadow;
			}

			&:active {
				.user-ico {
					fill: #87cefa;
				}
			}
		}

		&__link--heart {
			position: relative;
			border-radius: 50px 0 0 50px;

			&::after {
				content: "";
				position: absolute;
				width: 1px;
				height: 30px;
				color: #fff;
				top: 50%;
				transform: translateY(-50%);
				right: -1px;
				background-image: url(../images/svg/line.svg);
			}
		}

		&__link--cart {
			border-radius: 0 50px 50px 0;
		}

		&__num {
			width: 15px;
			height: 15px;
			background-color: #fff;
			position: absolute;
			right: 28px;
			top: 10px;
			font-size: 10px;
			border-radius: 50%;
			padding: 1px 0 0 5px;
			color: $header-accent;
		}

		.dropdown {
			&:hover {
				.dropdown-svg {
					transition: fill 0.5s;
					fill: #fff;
				}
			}

			.dropdown-svg {
				fill: $header-accent;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}