.header {
	width: 100%;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 49px 0;
		
		@media (max-width: 620px) {
			flex-wrap: wrap;
		}
	}
}

.menu {
	margin-left: 140px;

	@media (max-width: 1200px) {
		margin-left: 0;
		order: 1;
	}

	@media (max-width: 620px) {
		order: 0;
	}
	
	&__btn {
		display: none;
		
		@media (max-width: 1200px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 40px;
			height: 28px;
			border: none;
			padding: 0;
			position: relative;
			cursor: pointer;
			background-color: transparent;

			span {
				width: 100%;
				height: 3px;
				background-color: $header-accent;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $header-accent;
			}
			
			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}
		}
	}
	
	&__list {
		display: flex;
		align-items: center;

		@media (max-width: 1200px) {
			position: absolute;
			top: 130px;
			left: 0;
			width: 100%;
			flex-direction: column;
			align-items: center;
			z-index: 5;
			background-color: #fff;
			transform: translateY(-200%);
			transition: transform 0.5s;

			&.menu__list--active {
				transform: translateY(0%);
			}
		}

		@media (max-width: 620px) {
			top: 180px;
		}
	}

	&__item {
		margin: 0 16px;

		@media (max-width: 1200px) {
			margin-right: 0;
			text-align: center;
		}
	}

	&__link {
		text-decoration: none;
		color: $header-accent;
		@extend %rubik-500;
		font-size: 15px;
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.5s;
		outline: transparent;
		padding: 5px 0;
		position: relative;
		@include state;

		@media (max-width: 1200px) {
			width: 100%;
			margin-bottom: 20px;
			display: block;
		}
	}
}

.search {
	margin-right: 20px;

	@media (max-width: 450px) {
		margin-right: 10px;
	}

	&:hover {
		.user-nav__search {
			fill: #fff;
		}
	}
}

.user-nav {
	display: flex;

	@media (max-width: 620px) {
		width: 100%;
		padding-top: 20px;
	}

	&__item {
		&--block {
			display: flex;
			justify-content: space-around;
			background-color: $accent;
			margin-right: 20px;
			border-radius: 50px;
			width: 180px;
			position: relative;

			@media (max-width: 450px) {
				margin-right: 10px;
			}
		}

		&--dropdown {
			&:hover {
				.user-nav__dropdown {
					transition: fill 0.5s;
					fill: #fff;
				}
			}
		}
	}

	&__dropdown {
		fill: $header-accent;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__ico {
		fill: $header-accent;

		&--heart {
			transform: rotateY(180deg);
		}
	}

	&__link {
		padding: 18px 35px 5px 35px;
		position: relative;
		display: inline-block;
		outline: transparent;

		&:hover {
			.user-nav__ico {
				transition: fill 0.5s;
				fill: #fff;
			}
		}

		&:focus {
			@extend %shadow;
		}

		&:active {
			.user-nav__ico {
				fill: #87cefa;
			}
		}

		&--heart {
			position: relative;
			border-radius: 50px 0 0 50px;

			&::after {
				content: "";
				position: absolute;
				width: 1px;
				height: 30px;
				color: #fff;
				top: 50%;
				transform: translateY(-50%);
				right: -1px;
				background-image: url(../images/svg/line.svg);
			}
		}

		&--cart {
			border-radius: 0 50px 50px 0;
		}
	}

	&__num {
		width: 15px;
		height: 15px;
		background-color: #fff;
		position: absolute;
		right: 28px;
		top: 10px;
		font-size: 10px;
		border-radius: 50%;
		padding: 1px 0 0 5px;
		color: $header-accent;
	}

	&__search {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: fill 0.3s;
		fill: $header-accent;
	}
}

