.partners-slider {
	background-color: #fef7f0;
	height: 440px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	
	&__box {
		height: 260px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}