.products {
	margin-bottom: 94px;

	&__link {
		&:focus {
			@extend %shadow;
		}
	}

	&__title {
		margin-bottom: 24px;
	}

	&__filters {
		margin-bottom: 70px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px;
		justify-content: center;
		margin-bottom: 150px;
	}

	&__image {
		min-height: 255px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		outline: transparent;

		&:focus {
			@extend %shadow;
		}
	}

	&__img {
		max-height: 260px;
		max-width: 240px;
		object-fit: cover;
	}

	&__info {
		text-align: center;
		padding-bottom: 25px;
		font-size: 16px;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		color: #243f4d;
		line-height: 2.5;
		outline: transparent;
		@include text-limit;
		-webkit-line-clamp: 1;

		&:focus {
			@extend %shadow;
		}
	}

	&__price {
		font-weight: 700;
		color: #a3bbc8;
	}

	&__box {
		width: 100%;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__box-item {
		margin-right: 15px;
	}

	&__box-link {
		display: inline-block;
		width: 45px;
		height: 45px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		transform: translateY(-600%);
		transition: transform 0.3s;
		position: relative;
		outline: transparent;
		border: 1px solid #a2bac7;
		cursor: pointer;

		&:focus {
			@extend %shadow;
		}

		&:hover {
			background-color: $accent-blue;
			transition: background-color 0.5s;

			.products__box-ico {
				fill: #fff;
			}
		}

		&:active {
			background-color: $header-accent;

			.products__box-ico {
				fill: #fff;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__box-ico {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		fill: #a3bbc8;
	}
}

.products-card {
	width: 270px;
	margin: 0 14px 35px;
	background-color: #fff;
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	position: relative;
	overflow: hidden;
	padding: 10px;

	&:hover {
		.products__box-link {
			transform: translateY(0);
		}
	}
}

.lamps {
	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		max-width: 870px;
		width: 100%;
		background-color: #feefe2;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__inner {
		height: 390px;
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
	}

	&__img {
		position: absolute;
		max-width: 233px;
		max-height: 400px;
		object-fit: cover;
		top: -95px;
		left: 5px;
	}

	&__box {
		max-width: 340px;
	}

	&__box--right {
		padding-left: 40px;
	}

	&__title {
		font-size: 26px;
		line-height: 1.2;
		color: #243f4d;
		font-weight: 700;
		margin-bottom: 15px;
		max-height: 65px;
		overflow: hidden;
		@include text-limit;
		-webkit-line-clamp: 2;
	}

	&__text {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.85;
		color: #243f4d;
		-webkit-line-clamp: 4;
		@include text-limit;
		margin-bottom: 30px;
	}

	&--link {
		background-color: transparent;
		color: $header-accent;
		display: inline-block;
		border: 1px solid #b3b7b5;
		@extend %rubik-500;
		font-size: 15px;
		padding: 19px 83px 19px 20px;
		border-radius: 5px;
		position: relative;
		transition: color 0.5s;

		&:hover {
			transition: background-color 0.5s;
			background-color: $accent-blue;
			border: 1px solid #fff;
			color: #fff;

			.lamps__arrow {
				fill: #fff;
				transition: fill 0.5s;
			}

			&:focus {
				background-color: $header-accent;
				color: #fff;
			}
		}
	}

	&__arrow {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		fill: $header-accent;
	}
}
