

.top-block {
	text-align: center;
	padding: 35px 0;
	background-color: #edf1f4;
	&__title	{
		@extend %rubik-300;
		font-size: 36px;
		text-transform: capitalize;
		color: #222933;
		margin-bottom: 5px;
	}
}

.bread-crumbs	{
	display: flex;
	justify-content: center;

	&__item {
		padding-right: 20px;
		position: relative;

		&::after {
			content: '/';
			position: absolute;
			color: $header-accent;
			right: 7px;
		}

		&:last-child {
			padding-right: 0;
			
			&:after {
				display: none;
			}
		}
	}

	&__link {
		font-size: 14px;
		line-height: 1.7;
		color: $header-accent;
		text-transform: capitalize;
		@extend %rubik-400;
	}
}