.top-info {
	display: flex;
	justify-content: space-between;
	background-color: #fef7f0;
	margin-bottom: 60px;

	&__item {
		display: flex;
		align-items: center;
		padding: 30px 0;
		border-right: 1px solid #e8e4df;
		width: 100%;
		justify-content: center;
		position: relative;

		&:last-child {
			border: none;
		}
	}
	&__box {
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 50px;
			height: 50px;
			top: 13px;
			left: -80px;
			background-repeat: no-repeat;
		}

		&::before {
			width: 20px;
			height: 20px;
			background-color: #dfe3e2;
			border-radius: 50%;
			margin-right: 25px;
			top: 50%;
			transform: translateY(-50%);
			left: -46px;
		}
	}
	&__box--support::after {
		background-image: url(../images/svg/info-img1.svg);
	}

	&__box--delivery::after {
		background-image: url(../images/svg/info-img2.svg);
	}

	&__box--payment::after {
		background-image: url(../images/svg/info-img3.svg);
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 2.2;
		height: 39px;
		overflow: hidden;
		max-width: 250px;
	}

	&__text {
		width: 215px;
		font-size: 16px;
		line-height: 2.2;
		color: #585858;

		p {
			height: 34px;
			overflow: hidden;
		}
	}
}