.video {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 110px;

	& span {
		display: none;
	}

	&__btn {
		transition: fill 0.5s;
		fill: #fff;
		z-index: 9;
	}

	&__link {
		width: 100%;
		height: 500px;
		object-fit: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 6;
		outline: transparent;

		&:hover {
			.video__btn {
				fill: $some-text;
			}
		}

		&:focus {
			@extend %shadow;
			.video__btn {
				fill: $shadow;
			}
		}

		&:active {
			box-shadow: 0 0 0 3px $active;
			.video__btn {
				fill: #009dff;
			}
		}

		&::before {
			content: "";
			position: absolute;
			border-radius: 50%;
			width: 125px;
			height: 125px;
			background-color: rgba(163, 187, 200, 0.4);
		}

		&::after {
			content: "";
			position: absolute;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			background-color: $accent-blue;
		}
	}
}
