.login {
	padding-top: 120px;

	&__inner {
		max-width: 470px;
		margin: 0 auto;
	}

	&__form {
		margin-bottom: 35px;
	}

	&__inputs {
		display: block;
		margin-bottom: 38px;
	}

	&__input {
		width: 100%;
		height: 60px;
		border: 2px solid #f6f6f6;
		padding: 0 20px;

		&:focus,
		&:active {
			border-color: #a3bbc8;
		}
	}

	&__label {
		margin-bottom: 25px;
		display: block;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.login-text {
		font-size: 14px;
		color: #436372;
		@extend %rubik-400;
		margin-bottom: 10px;
		display: block;
	}

	&__btn {
		width: 100%;
		height: 60px;
		border-radius: 0;
		border: none;
		background-color: #a3bbc8;
		color: #fff;
		font-size: 18px;
		@extend %rubik-500;
		cursor: pointer;
	}

	&__checkbox-label {
		position: relative;
	}

	&__checkbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 25px;
		border-bottom: 2px solid #f6f6f6;
		margin-bottom: 30px;
	}

	&__check-input {
		@extend %checbox-hidden;

		&:checked + .login__check {
			background-image: url(../images/ico/check.svg);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	&__check {
		width: 14px;
		height: 14px;
		background-color: #ebebeb;
		position: absolute;
		top: 1px;
	}

	&__check-text {
		padding-left: 24px;
	}

	&__create-box {
		text-align: center;
		margin-bottom: 120px;

		.login-text {
			margin-bottom: 20px;
		}
	}

	&__create-box__btn {
		display: block;
		width: 100%;
		height: 60px;
		padding-top: 17px;
		border: 2px solid #A3BBC8;
		font-size: 18px;
		color: #243f4d;
		@extend %rubik-500;
	}
}