.product {
	padding-top: 120px;

	@media (max-width: 850px) {
		padding-top: 60px;
	}
	&__inner {
		display: flex;
		align-items: center;

		@media (max-width: 850px) {
			display: block;
		}
	}

	&__sliders {
		max-width: 550px;
		width: 100%;
		display: flex;
		margin-right: 70px;

		@media (max-width: 1200px) {
			margin-right: 30px;
		}

		@media (max-width: 850px) {
			max-width: 385px;
			margin: 0 auto 40px;
		}
	}

	&__slider-thumb {
		width: 135px;
		margin-right: 30px;
		
		@media (max-width: 1200px) {
			display: none;
		}
	}

	&__slider-thumb-item {
		margin-bottom: 18px;
		width: 135px;
		height: 160px;
	}

	&__small-img {
		width: 135px;
		height: 160px;
		object-fit: contain;
		display: block;
		border: 2px solid #ebebeb;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__slider-big {
		width: 385px;
		height: 530px;
		
	}

	&__big-img {
		width: 385px;
		height: 530px;
		object-fit: contain;
		border: 1px solid #ebebeb;
	}

	&__title {
		font-size: 40px;
		color: #333;
		@extend %rubik-400;
		margin-bottom: 20px;
	}

	.stars-product__details {
		margin-bottom: 35px;
	}

	.jq-ry-container {
		padding: 0;
	}

	&__price {
		font-size: 30px;
		line-height: 1.5;
		color: #333;
		@extend %rubik-400;
		margin-bottom: 30px;
		display: block;
	}

	&__info-text {
		font-size: 16px;
		line-height: 1.8;
		color: #243f4d;
		@extend %rubik-400;
		margin-bottom: 30px;
	}

	&__quantity {
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__input-label {
		@media (max-width: 450px) {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__input {
		width: 150px;
		text-align: center;
		margin-right: 15px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 50px;
			background-color: #a3bbc8;
			right: 49px;
			top: 0px;
		}
	}

	.jq-number {
		padding: 0;
		position: relative;
	}

	.jq-number__spin {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 32px;
		height: 14px;
		border: none;
		background: none;
		box-shadow: none;
		user-select: none;
		text-shadow: none;
		cursor: pointer;
	}

	.jq-number__spin:after {
		content: "";
		position: absolute;
		
		width: 0;
		height: 0;
		border-right: none;
		border-bottom: none;
		border-left: none;
	}

	.jq-number__spin.minus {
		left: 10px;
	}

	.jq-number__spin.minus::before {
		content: "";
		position: absolute;
		width: 1px;
		height: 50px;
		background-color: #a3bbc8;
		right: -7px;
		top: -18px;
	}

	.jq-number__spin.minus:after {
		top: 6px;
		left: 11px;
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: none;
		background-color: #333;
		width: 9px;
		height: 1px;
	}

	.jq-number__spin.plus:after {
		top: 6px;
		left: 18px;
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: none;
		background-color: #333;
		width: 9px;
		height: 1px;
	}

	.jq-number__spin.plus:before {
		content: "";
		position: absolute;
		background-color: #333;
		width: 1px;
		height: 9px;
		top: 2px;
		right: 9px;
	}

	.jq-number__spin.plus {
		right: 15px;
	}

	.jq-number__field {
		width: 150px;
		border: 1px solid #a3bbc8;
		border-radius: 0;
		box-shadow: none;
	}

	.jq-number__field input {
		width: 100%;
		border: none;
		outline: none;
		background: none;
		color: #303030;
		@extend %rubik-400;
		text-align: center;
		font-size: 15px;
		line-height: 3.1;
	}

	&__btn {
		background-color: #a3bbc8;
		border: 1px solid #a3bbc8;
		border-radius: 5px;
		@extend %rubik-400;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 1px;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		width: 208px;
		height: 52px;
		transition: background-color 0.5s;

		@media (max-width: 450px) {
			
		}

		&:hover {
			transition: color 0.5s;
			background-color: transparent;
			color: #a3bbc8;
		}
	}

	&__info-list {
		padding-bottom: 20px;
	}

	&__info-item {
		font-size: 16px;
		line-height: 1.8;
		color: #243f4d;
		@extend %rubik-400;
	}

	&__sku--uppercase {
		text-transform: uppercase;
	}
}
