.product-related {
	&__title {
		text-align: left;
		color: #243f4d;
		margin-bottom: 60px;
	}

	.slick-arrow {
		font-size: 0;
		border: 2px solid #edf1f4;
		background-color: transparent;
		width: 50px;
		height: 50px;
		border-radius: 5px;
	}

	.slick-btn.slick-prev,
	.slick-btn.slick-next {
		& img {
			padding-left: 6px;
		}
	}

	.slick-btn {
		position: absolute;
		top: -100px;
		right: 10px;
		cursor: pointer;
	}

	.slick-prev {
		right: 80px;
		z-index: 5;
	}

	.products-card {
		box-shadow: none;
		border: 2px solid #edf1f4;
	}

	.slick-next.slick-disabled,
	.slick-prev.slick-disabled {
		border-color: #a3bbc8;
		cursor: default;
	}

	&__list {
		margin-bottom: 110px;
	}
}