.product-tabs {
	padding-top: 85px;
	margin-bottom: 110px;

	&__top {
		margin-bottom: 30px;
		display: flex;
		justify-content: center;

		@media (max-width: 850px) {
			display: block;
		}

		@media (max-width: 850px) {
		}
	}

	&__item {
		margin-right: 20px;

		@media (max-width: 850px) {
			margin-right: 0;
			margin-bottom: 10px;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		width: 240px;
		padding: 16px 0;
		text-align: center;
		background-color: #edf1f4;
		font-size: 18px;
		color: #243f4d;
		@extend %rubik-500;
		border-radius: 5px;
		display: inline-block;

		&--active {
			background-color: #a3bbc8;
			color: #fff;
		}
	}

	&__content-item {
		display: none;

		&.product-tabs__content-item--active {
			display: block;
		}
	}
}
