.contacts {
	padding-top: 120px;

	@media (max-width: 850px) {
		padding-top: 60px;
	}

	&__subtitle {
		text-align: center;
		display: block;
		font-size: 16px;
		line-height: 1.25;
		text-transform: capitalize;
		color: #a3bbc8;
		@extend %poppins-700;
	}

	&__title {
		color: #436372;
		text-transform: capitalize;
		font-size: 35px;
		line-height: 1.6;
		margin-bottom: 70px;

		@media (max-width: 850px) {
			margin-bottom: 40px;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;

		@media (max-width: 1200px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width: 850px) {
			display: block;
			margin-bottom: 60px;
		}
	}
	
	&__box-item {
		max-width: 370px;
		width: 100%;
		background-color: #fbfbfb;
		padding: 70px 0 70px;
		text-align: center;
		border: 2px solid #fbfbfb;
		transition: border 0.5s;
		margin-right: 30px;
		
		@media (max-width: 1200px) {
			margin-bottom: 30px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		@media (max-width: 850px) {
			margin-right: 0;
			max-width: 100%;
			padding: 40px 0 40px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border: 2px solid #a3bbc8;

			.contacts__box-icon {
				background-color: #a3bbc8;
				transition: background-color 0.5s;
			}
			.contacts__box-icon-svg {
				fill: #fff;
				transition: fill 0.5s;
			}
		}
	}

	&__box-icon {
		background-color: #fff;
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 60px;
		box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
	}

	&__box-icon-svg {
		fill: #a3bbc8;
	}

	&__box-title {
		font-size: 20px;
		line-height: 1.3;
		color: #333;
		text-transform: capitalize;
		margin-bottom: 20px;
	}

	&__box-text {
		font-size: 16px;
		line-height: 1.8;
		color: #565872;
		@extend %rubik-400;
	}
}

.contacts-bottom {
	&__inner {
		display: flex;

		@media (max-width: 1200px) {
			display: block;
		}
	}

	.comments {
		max-width: 620px;
		width: 100%;
		margin-right: 50px;

		@media (max-width: 1200px) {
			max-width: 100%;
		}
	}

	.blog-page__comments-textarea {
		height: 172px;
	}

	&__map {
		height: 335px;
		width: 500px;

		@media (max-width: 1200px) {
			width: 100%;
		}
	}
}