.blog-page {
	padding-top: 120px;

	@media (max-width: 1200px) {
		padding-top: 60px;
	}

	&__inner {
		display: flex;

		@media (max-width: 1200px) {
			display: block;
		}
	}

	&__box {
		max-width: 830px;
		margin-right: 70px;

		@media (max-width: 1200px) {
			max-width: 100%;
			margin-right: 0;
			text-align: center;
		}
	}
	
	&__img-box {
		position: relative;
		margin-bottom: 40px;
		max-width: 830px;
		height: 500px;
		
		@media (max-width: 1200px) {
			margin: 0 auto;
			margin-bottom: 40px;
		}
		
		@media (max-width: 850px) {
			height: 300px;
		};
	}

	&__img {
		max-width: 100%px;
		height: 500px;
		object-fit: cover;

		@media (max-width: 850px) {
			width: 100%;
			height: 300px;
		};
	}

	&__info {
		position: absolute;
		padding: 25px;
		color: #fff;
		bottom: 0;
		background-color: #a3bbc8;
	}

	&__info-text {
		margin-right: 20px;
		text-transform: uppercase;
		font-size: 12px;
		@extend %rubik-400;
		padding-left: 20px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;

		}
		&--date::before {
			background-image: url(../images/ico/calendar-white.svg);
		}

		&--user::before {
			background-image: url(../images/ico/user-white.svg);
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		font-size: 36px;
		@extend %rubik-400;
		margin-bottom: 40px;
		color: #333;
	}

	&__text {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.8;
		color: #243f4d;
		margin-bottom: 40px;
	}

	&__btn {
		background-color: #fff;
		color: #a3bbc8;
		border: 1px solid #a3bbc8;
		display: inline-block;
		margin-bottom: 55px;
		min-width: 180px;
		height: 60px;
		padding: 18px 45px 0 20px;
		position: relative;
		@extend %nunito-700;
		font-size: 15px;
		transition: all 0.5s;

		&:hover {
			background-color: #a3bbc8;
			border-color: #fff;
			color: #fff;

			.blog-page__svg {
				transition: fill 0.3s;
				fill: #fff;
			}
		}
	}

	&__svg {
		fill: #a3bbc8;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	// Blog-one styles
	&__subtitle {
		font-size: 16px;
		line-height: 1.8;
		@extend %rubik-500;
		color: #243f4d;
		margin-bottom: 20px;
	}

	&__cite {
		background-color: #edf1f4;
		border-left: 8px solid #a3bbc8;
		padding: 22px 90px 22px 33px;
		width: 100%;
		font-style: normal;
		font-size: 16px;
		line-height: 1.8;
		color: #243f4d;
		margin-bottom: 45px;

		p {
			margin-bottom: 10px;
		}
	}

	&__cite-span {
		padding-left: 45px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 4px;
			background-color: #a3bbc8;
			left: 0;
			top: 10px;
		}
	}

	&__details {
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		@media (max-width: 650px) {
			display: block;
		}
	}
	
	&__details-img {
		max-width: 325px;
		height: 210px;
		margin-right: 30px;

		@media (max-width: 650px) {
			max-width: 100%;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}

	&__details-title {
		font-size: 18px;
		line-height: 1.6;
		color: #243f4d;
		margin-bottom: 15px;
	}

	&__details-text {
		font-size: 16px;
		line-height: 1.8;
		color: #565872;
	}

	&__details-box--under {
		margin-bottom: 55px;
	}

	&__designer {
		display: flex;
		justify-content: space-between;
		padding: 25px 0;
		border-top: 2px solid #ebebeb;
		border-bottom: 2px solid #ebebeb;
		margin-bottom: 65px;

		@media (max-width: 650px) {
			display: block;
		}
	}

	&__designer-info {
		display: flex;
		align-items: center;

		@media (max-width: 650px) {
			margin-bottom: 30px;
		}
	}

	&__designer-img {
		margin-right: 30px;
	}

	&__designer-box {
		text-align: left;
	}

	&__designer-name {
		font-size: 18px;
		line-height: 1.4;
		@extend %rubik-500;
		color: #333;
		margin-bottom: 8px;
	}

	&__designer-position {
		font-size: 16px;
		line-height: 1.8;
		color: #666;
	}

	&__designer-share {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}

	&__designer-tags,
	&__designer-social {
		@extend %rubik-400;
		font-size: 16px;
		line-height: 1.6;
		
		span {
			color: #333;
			margin-right: 25px;
		}
	}

	&__designer-tags {
		margin-bottom: 10px;
		color: #a1a1a1;
	}

	&__designer-svg {
		margin-right: 20px;
		fill: #a1a1a1;
	}

	&__comments-title {
		font-size: 24px;
		line-height: 1.5;
		color: #436372;
		margin-bottom: 50px;
		@extend %rubik-700;
		text-align: left;
	}

	&__comments-item {
		display: flex;
		margin-bottom: 30px;
	}

	&__comments-item--narrow {
		max-width: 85%;
		padding: 30px 0;
		border-top: 2px solid #ebebeb;
		border-bottom: 2px solid #ebebeb;
		margin-left: auto;
	}

	&__comments-img {
		margin-right: 30px;
		width: 100px;
		height: 100px;
		object-fit: cover;

		@media (max-width: 650px) {
			display: none;
		}
	}

	&__comments-box {
		text-align: left;
	}

	&__comments-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__comments-name {
		font-size: 16px;
		color: #436372;
		@extend %rubik-700;
	}

	&__comments-date {
		font-size: 14px;
		@extend %rubik-400;
		color: #9f9f9f;
	}

	&__comments-text {
		font-size: 16px;
		line-height: 1.8;
		color: #545774;
		@extend %rubik-400;

		p{
			margin-bottom: 15px;
		}
	}

	&__comments-reply {
		font-size: 14px;
		@extend %rubik-400;
		color: #48637a;
		padding-right: 20px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 13px;
			height: 15px;
			background-image: url(../images/ico/arrow-reply.svg);
			right: 0;
			top: 1px;
		}
	}

	&__comments-leave {
		margin-bottom: 120px;

		@media (max-width: 1200px) {
			margin-bottom: 60px;
		}
	}

	&__comments-form {
		width: 100%;
	}

	&__comments-inputs {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		@media (max-width: 650px) {
			flex-wrap: wrap;
		}
	}
	
	&__comments-input,
	&__comments-textarea {
		width: 50%;
		height: 50px;
		margin-right: 30px;
		padding: 15px 45px 15px 20px;
		border: 1px solid #ebebeb;
		background-repeat: no-repeat;
		background-position: right 20px bottom 16px;
		outline: transparent;
		font-size: 16px;
		color: #333;
		@extend %rubik-400;

		@media (max-width: 650px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&:focus,
		&:active {
			border-color: #a3bbc8;
		}
	}

	&__comments-input--name {
		background-image: url(../images/ico/user-form.svg);
	}

	&__comments-input--email {
		background-image: url(../images/ico/email-form.svg);
	}

	&__comments-textarea {
		background-image: url(../images/ico/reply.svg);
	}

	&__comments-textarea {
		width: 100%;
		resize: none;
		height: 120px;
		background-position: right 20px top 16px;
		margin-bottom: 40px;
	}

	&__comments-btn {
		width: 190px;
		height: 50px;
		background-color: #a3bbc8;
		border: 1px solid #a3bbc8;
		color: #fff;
		font-size: 14px;
		line-height: 1.5;
		padding-top: 2px;
		text-transform: uppercase;
		@extend %rubik-400;
		cursor: pointer;
		transition: background-color 0.5s;
		letter-spacing: 1px;

		@media (max-width: 1200px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		&:hover {
			transition: color 0.5s;
			background-color: #fff;
			color: #a3bbc8;

		}
	}
}

.pagination__blog {
	padding-top: 20px;
	display: flex;
	justify-content: flex-start;
}

.partners-slider__blog {
	height: 250px;
}